<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string>General</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <true/>
                <key>Key</key>
                <string>flying_enabled_preference</string>
                <key>Title</key>
                <string>Flying</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string>Forces Enabled</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Wall Avoidance</string>
                <key>Key</key>
                <string>wallAvoidance</string>
                <key>DefaultValue</key>
                <false/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Obstacle Avoidance</string>
                <key>Key</key>
                <string>obstacleAvoidance</string>
                <key>DefaultValue</key>
                <false/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Separation</string>
                <key>Key</key>
                <string>separation</string>
                <key>DefaultValue</key>
                <false/>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <true/>
                <key>Key</key>
                <string>seek</string>
                <key>Title</key>
                <string>Seek</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <true/>
                <key>Key</key>
                <string>cohesion</string>
                <key>Title</key>
                <string>Cohesion</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string>World Elements Enabled</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
                <key>Title</key>
                <string>Show Debugging Info</string>
                <key>Key</key>
                <string>debugging_info_enabled</string>
                <key>DefaultValue</key>
                <false/>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>Title</key>
                <string>Number of birds</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <integer>1</integer>
                <key>Key</key>
                <string>number_of_birds_preference</string>
                <key>MaximumValue</key>
                <integer>10</integer>
                <key>MaximumValueImage</key>
                <string></string>
                <key>MinimumValue</key>
                <integer>1</integer>
                <key>MinimumValueImage</key>
                <string></string>
                <key>Type</key>
                <string>PSSliderSpecifier</string>
            </dict>
        </array>
        <key>StringsTable</key>
        <string>Root</string>
    </dict>
</plist>
